In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading to DatatFrame

In [2]:
bike_df = pd.read_csv("bike_sales_data_world_2013_2023.csv")
bike_df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,...,Rating,Shipping_Weight,Delivery_Time,Discount,Eco_Friendly,Shipping_Cost,Shipping_Company,Shipping_Type,Insurance,Return_Policy
0,2017-11-26,26,November,2017,19,Youth (<25),M,Canada,British Columbia,Accessories,...,4,13.25,2,25,True,40.58,GLS,Standard,Basic,30 Days
1,2014-11-26,26,November,2014,19,Youth (<25),M,Canada,British Columbia,Accessories,...,5,4.56,4,1,True,95.32,Posti,Same Day,NaN,30 Days
2,2019-03-23,23,March,2019,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,3,8.97,1,0,True,74.54,GLS,Express,Premium,7 Days
3,2015-03-23,23,March,2015,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,5,2.56,1,10,False,61.87,DHL,Same Day,NaN,7 Days
4,2018-05-15,15,May,2018,47,Adults (35-64),F,Australia,New South Wales,Accessories,...,5,11.21,1,6,False,19.82,GLS,Same Day,Basic,30 Days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,2014-04-12,12,April,2014,41,Adults (35-64),M,United Kingdom,England,Clothing,...,5,14.88,7,28,False,8.59,UPS,Standard,Basic,30 Days
226068,2015-04-02,2,April,2015,18,Youth (<25),M,Australia,Queensland,Clothing,...,5,3.39,1,24,False,21.63,Posti,Express,Basic,30 Days
226069,2021-04-02,2,April,2021,18,Youth (<25),M,Australia,Queensland,Clothing,...,3,5.33,2,24,False,67.75,FedEx,Standard,Basic,30 Days
226070,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,...,5,14.80,9,16,True,62.47,DHL,Next Day,NaN,7 Days
226071,2015-03-04,4,March,2015,37,Adults (35-64),F,France,Seine (Paris),Clothing,...,1,10.17,6,14,False,72.90,Posti,Same Day,Premium,7 Days

## Summary Analysis

In [3]:
bike_df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,Delivery_Time,Discount,Shipping_Cost
count,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000,226072.000000
mean,15.665753,2017.992887,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360,3.005724,7.748286,5.001009,14.488172,52.471199
std,8.781547,3.163415,11.021911,9.561836,549.834267,922.069180,453.886439,884.864161,1309.091778,1.416783,4.185197,2.579064,8.631218,27.398519
min,1.000000,2013.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000,1.000000,0.500000,1.000000,0.000000,5.000000
25%,8.000000,2015.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000,2.000000,4.120000,3.000000,7.000000,28.700000
50%,16.000000,2018.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000,3.000000,7.750000,5.000000,15.000000,52.580000
75%,23.000000,2021.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000,4.000000,11.360000,7.000000,22.000000,76.230000
max,31.000000,2023.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000,5.000000,15.000000,9.000000,29.000000,100.000000

In [4]:
bike_df.head(10)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,...,Rating,Shipping_Weight,Delivery_Time,Discount,Eco_Friendly,Shipping_Cost,Shipping_Company,Shipping_Type,Insurance,Return_Policy
0,2017-11-26,26,November,2017,19,Youth (<25),M,Canada,British Columbia,Accessories,...,4,13.25,2,25,True,40.58,GLS,Standard,Basic,30 Days
1,2014-11-26,26,November,2014,19,Youth (<25),M,Canada,British Columbia,Accessories,...,5,4.56,4,1,True,95.32,Posti,Same Day,NaN,30 Days
2,2019-03-23,23,March,2019,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,3,8.97,1,0,True,74.54,GLS,Express,Premium,7 Days
3,2015-03-23,23,March,2015,49,Adults (35-64),M,Australia,New South Wales,Accessories,...,5,2.56,1,10,False,61.87,DHL,Same Day,NaN,7 Days
4,2018-05-15,15,May,2018,47,Adults (35-64),F,Australia,New South Wales,Accessories,...,5,11.21,1,6,False,19.82,GLS,Same Day,Basic,30 Days
5,2023-05-15,15,May,2023,47,Adults (35-64),F,Australia,New South Wales,Accessories,...,2,8.33,9,27,True,19.82,DHL,Next Day,Basic,60 Days
6,2015-05-22,22,May,2015,47,Adults (35-64),F,Australia,Victoria,Accessories,...,3,14.05,9,13,True,10.52,FedEx,Next Day,Basic,60 Days
7,2014-05-22,22,May,2014,47,Adults (35-64),F,Australia,Victoria,Accessories,...,3,10.46,6,8,False,87.29,GLS,Express,Basic,30 Days
8,2021-02-22,22,February,2021,35,Adults (35-64),M,Australia,Victoria,Accessories,...,3,14.73,6,5,False,62.11,UPS,Standard,Premium,No Return
9,2023-02-22,22,February,2023,35,Adults (35-64),M,Australia,Victoria,Accessories,...,5,12.28,6,9,False,72.27,UPS,Standard,NaN,No Return

In [5]:
bike_df['Country'].unique()

array(['Canada', 'Australia', 'United States', 'Germany', 'France',
       'United Kingdom', 'Austria', 'Denmark', 'Slovakia', 'Estonia',
       'Bulgaria', 'Malta', 'Lithuania', 'Finland', 'Poland', 'Italy',
       'Netherlands', 'Romania', 'Slovenia', 'Ireland', 'Luxembourg',
       'Portugal', 'Latvia', 'Sweden', 'Spain', 'Cyprus', 'Croatia',
       'Greece', 'Belgium', 'Czech Republic', 'Hungary'], dtype=object)

In [6]:
list_country = ['United States','Australia','United Kingdom','Germany','France','Canada']
bike_df = bike_df[bike_df['Country'].isin(list_country)]

## DATA ENCODING

In [7]:
bike_df["Age_Group"].unique()

array(['Youth (<25)', 'Adults (35-64)', 'Young Adults (25-34)',
       'Seniors (64+)'], dtype=object)

In [8]:
# Ensure bike_df is an independent copy to avoid modifying a slice
bike_df = bike_df.copy()

# Initialize new columns with default values of 0
bike_df['age_youth'] = 0
bike_df['age_y_adults'] = 0
bike_df['age_adults'] = 0
bike_df['age_senior'] = 0

# Update values using .loc[]
bike_df.loc[bike_df['Age_Group'] == "Youth (<25)", 'age_youth'] = 1
bike_df.loc[bike_df['Age_Group'] == "Adults (35-64)", 'age_y_adults'] = 1
bike_df.loc[bike_df['Age_Group'] == "Young Adults (25-34)", 'age_adults'] = 1
bike_df.loc[bike_df['Age_Group'] == "Seniors (64+)", 'age_senior'] = 1

In [9]:
bike_df = bike_df.drop(columns="Age_Group")

In [10]:
bike_df

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,...,Eco_Friendly,Shipping_Cost,Shipping_Company,Shipping_Type,Insurance,Return_Policy,age_youth,age_y_adults,age_adults,age_senior
0,2017-11-26,26,November,2017,19,M,Canada,British Columbia,Accessories,Bike Racks,...,True,40.58,GLS,Standard,Basic,30 Days,1,0,0,0
1,2014-11-26,26,November,2014,19,M,Canada,British Columbia,Accessories,Bike Racks,...,True,95.32,Posti,Same Day,NaN,30 Days,1,0,0,0
2,2019-03-23,23,March,2019,49,M,Australia,New South Wales,Accessories,Bike Racks,...,True,74.54,GLS,Express,Premium,7 Days,0,1,0,0
3,2015-03-23,23,March,2015,49,M,Australia,New South Wales,Accessories,Bike Racks,...,False,61.87,DHL,Same Day,NaN,7 Days,0,1,0,0
4,2018-05-15,15,May,2018,47,F,Australia,New South Wales,Accessories,Bike Racks,...,False,19.82,GLS,Same Day,Basic,30 Days,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,2014-04-12,12,April,2014,41,M,United Kingdom,England,Clothing,Vests,...,False,8.59,UPS,Standard,Basic,30 Days,0,1,0,0
226068,2015-04-02,2,April,2015,18,M,Australia,Queensland,Clothing,Vests,...,False,21.63,Posti,Express,Basic,30 Days,1,0,0,0
226069,2021-04-02,2,April,2021,18,M,Australia,Queensland,Clothing,Vests,...,False,67.75,FedEx,Standard,Basic,30 Days,1,0,0,0
226070,2016-03-04,4,March,2016,37,F,France,Seine (Paris),Clothing,Vests,...,True,62.47,DHL,Next Day,NaN,7 Days,0,1,0,0
226071,2015-03-04,4,March,2015,37,F,France,Seine (Paris),Clothing,Vests,...,False,72.90,Posti,Same Day,Premium,7 Days,0,1,0,0

In [11]:
bike_df.loc[bike_df['Customer_Gender'] == "M", "Customer_Gender"] = 1
bike_df.loc[bike_df['Customer_Gender'] == "F", "Customer_Gender"] = 0

bike_df['Customer_Gender'].unique()
bike_df['Customer_Gender'].astype("int64")

0         1
1         1
2         1
3         1
4         0
         ..
226067    1
226068    1
226069    1
226070    0
226071    0
Name: Customer_Gender, Length: 226047, dtype: int64

In [12]:
# Ensure you're working with a copy of the DataFrame to avoid slicing issues
bike_df = bike_df.copy()

# Initialize region columns
bike_df.loc[:, 'region_aus'] = 0
bike_df.loc[:, 'region_us'] = 0
bike_df.loc[:, 'region_eu'] = 0

# Define country lists
us_list = ["United States"]
eu_list = ["United Kingdom", "Germany", "France"]

# Assign values using .loc[]
bike_df.loc[bike_df['Country'] == "Australia", 'region_aus'] = 1
bike_df.loc[bike_df['Country'].isin(us_list), 'region_us'] = 1
bike_df.loc[bike_df['Country'].isin(eu_list), 'region_eu'] = 1

In [13]:
bike_df = bike_df.drop(columns="Country")

In [14]:
bike_df

,Date,Day,Month,Year,Customer_Age,Customer_Gender,State,Product_Category,Sub_Category,Product,...,Shipping_Type,Insurance,Return_Policy,age_youth,age_y_adults,age_adults,age_senior,region_aus,region_us,region_eu
0,2017-11-26,26,November,2017,19,1,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,...,Standard,Basic,30 Days,1,0,0,0,0,0,0
1,2014-11-26,26,November,2014,19,1,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,...,Same Day,NaN,30 Days,1,0,0,0,0,0,0
2,2019-03-23,23,March,2019,49,1,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,...,Express,Premium,7 Days,0,1,0,0,1,0,0
3,2015-03-23,23,March,2015,49,1,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,...,Same Day,NaN,7 Days,0,1,0,0,1,0,0
4,2018-05-15,15,May,2018,47,0,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,...,Same Day,Basic,30 Days,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,2014-04-12,12,April,2014,41,1,England,Clothing,Vests,"Classic Vest, S",...,Standard,Basic,30 Days,0,1,0,0,0,0,1
226068,2015-04-02,2,April,2015,18,1,Queensland,Clothing,Vests,"Classic Vest, M",...,Express,Basic,30 Days,1,0,0,0,1,0,0
226069,2021-04-02,2,April,2021,18,1,Queensland,Clothing,Vests,"Classic Vest, M",...,Standard,Basic,30 Days,1,0,0,0,1,0,0
226070,2016-03-04,4,March,2016,37,0,Seine (Paris),Clothing,Vests,"Classic Vest, L",...,Next Day,NaN,7 Days,0,1,0,0,0,0,1
226071,2015-03-04,4,March,2015,37,0,Seine (Paris),Clothing,Vests,"Classic Vest, L",...,Same Day,Premium,7 Days,0,1,0,0,0,0,1

In [15]:
bike_df['Month'].unique()

array(['November', 'March', 'May', 'February', 'July', 'August',
       'September', 'January', 'December', 'June', 'October', 'April'],
      dtype=object)

In [16]:
from datetime import datetime
bike_df['Month'] = pd.to_datetime(bike_df['Month'], format='%B',errors ='coerce')
bike_df['Month'] = bike_df['Month'].dt.strftime("%m")
bike_df['Month']

0         11
1         11
2         03
3         03
4         05
          ..
226067    04
226068    04
226069    04
226070    03
226071    03
Name: Month, Length: 226047, dtype: object

In [17]:
bike_df['Month'].astype("int64")

0         11
1         11
2          3
3          3
4          5
          ..
226067     4
226068     4
226069     4
226070     3
226071     3
Name: Month, Length: 226047, dtype: int64

In [18]:
bike_df = bike_df.drop(columns = ["Date","Day","Year","Customer_Age","State"])

In [19]:
bike_df['Product_Category'].unique()

array(['Accessories', 'Clothing', 'Bikes'], dtype=object)

In [20]:
bike_df['cat_accessories'] = 0
bike_df['cat_clothing'] = 0
bike_df['cat_bikes'] = 0

bike_df['cat_accessories'] = bike_df['cat_accessories'].mask(bike_df['Product_Category'] == "Accessories",1)
bike_df['cat_clothing'] = bike_df['cat_clothing'].mask(bike_df['Product_Category'] == "Clothing",1)
bike_df['cat_bikes'] = bike_df['cat_bikes'].mask(bike_df['Product_Category'] == "Bikes",1)

bike_df = bike_df.drop(columns="Product_Category")
bike_df

,Month,Customer_Gender,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,...,age_youth,age_y_adults,age_adults,age_senior,region_aus,region_us,region_eu,cat_accessories,cat_clothing,cat_bikes
0,11,1,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,...,1,0,0,0,0,0,0,1,0,0
1,11,1,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,...,1,0,0,0,0,0,0,1,0,0
2,03,1,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,...,0,1,0,0,1,0,0,1,0,0
3,03,1,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,...,0,1,0,0,1,0,0,1,0,0
4,05,0,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,Vests,"Classic Vest, S",3,24,64,112,72,184,...,0,1,0,0,0,0,1,0,1,0
226068,04,1,Vests,"Classic Vest, M",22,24,64,655,528,1183,...,1,0,0,0,1,0,0,0,1,0
226069,04,1,Vests,"Classic Vest, M",22,24,64,655,528,1183,...,1,0,0,0,1,0,0,0,1,0
226070,03,0,Vests,"Classic Vest, L",24,24,64,684,576,1260,...,0,1,0,0,0,0,1,0,1,0
226071,03,0,Vests,"Classic Vest, L",23,24,64,655,552,1207,...,0,1,0,0,0,0,1,0,1,0

In [21]:
bike_df = bike_df.drop(columns=["Sub_Category","Product"])

In [22]:
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Size,Color,...,age_youth,age_y_adults,age_adults,age_senior,region_aus,region_us,region_eu,cat_accessories,cat_clothing,cat_bikes
0,11,1,8,45,120,590,360,950,Extra Large,White,...,1,0,0,0,0,0,0,1,0,0
1,11,1,8,45,120,590,360,950,Extra Large,White,...,1,0,0,0,0,0,0,1,0,0
2,03,1,23,45,120,1366,1035,2401,Small,Green,...,0,1,0,0,1,0,0,1,0,0
3,03,1,20,45,120,1188,900,2088,Small,Red,...,0,1,0,0,1,0,0,1,0,0
4,05,0,4,45,120,238,180,418,Extra Large,Blue,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,Extra Large,Green,...,0,1,0,0,0,0,1,0,1,0
226068,04,1,22,24,64,655,528,1183,Extra Large,White,...,1,0,0,0,1,0,0,0,1,0
226069,04,1,22,24,64,655,528,1183,Medium,Green,...,1,0,0,0,1,0,0,0,1,0
226070,03,0,24,24,64,684,576,1260,Medium,Red,...,0,1,0,0,0,0,1,0,1,0
226071,03,0,23,24,64,655,552,1207,Large,Black,...,0,1,0,0,0,0,1,0,1,0

In [23]:
bike_df['Size'].unique()

array(['Extra Large', 'Small', 'Large', 'Medium'], dtype=object)

In [24]:
#Initialize new columns with default values of 0
bike_df['size_xl'] = 0
bike_df['size_s'] = 0
bike_df['size_l'] = 0
bike_df['size_m'] = 0


#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['size_xl'] = bike_df['size_xl'].mask(bike_df['Size'] == "Extra Large", 1) 
bike_df['size_s'] = bike_df['size_s'].mask(bike_df['Size'] == "Small", 1) 
bike_df['size_l'] = bike_df['size_l'].mask(bike_df['Size'] == "Large", 1) 
bike_df['size_m'] = bike_df['size_m'].mask(bike_df['Size'] == "Medium", 1) 

bike_df = bike_df.drop(columns="Size")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Color,Material,...,region_aus,region_us,region_eu,cat_accessories,cat_clothing,cat_bikes,size_xl,size_s,size_l,size_m
0,11,1,8,45,120,590,360,950,White,Plastic,...,0,0,0,1,0,0,1,0,0,0
1,11,1,8,45,120,590,360,950,White,Steel,...,0,0,0,1,0,0,1,0,0,0
2,03,1,23,45,120,1366,1035,2401,Green,Steel,...,1,0,0,1,0,0,0,1,0,0
3,03,1,20,45,120,1188,900,2088,Red,Carbon Fiber,...,1,0,0,1,0,0,0,1,0,0
4,05,0,4,45,120,238,180,418,Blue,Steel,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,Green,Aluminum,...,0,0,1,0,1,0,1,0,0,0
226068,04,1,22,24,64,655,528,1183,White,Aluminum,...,1,0,0,0,1,0,1,0,0,0
226069,04,1,22,24,64,655,528,1183,Green,Aluminum,...,1,0,0,0,1,0,0,0,0,1
226070,03,0,24,24,64,684,576,1260,Red,Carbon Fiber,...,0,0,1,0,1,0,0,0,0,1
226071,03,0,23,24,64,655,552,1207,Black,Steel,...,0,0,1,0,1,0,0,0,1,0

In [25]:
bike_df['Material'].unique()

array(['Plastic', 'Steel', 'Carbon Fiber', 'Aluminum'], dtype=object)

In [26]:
#Initialize new columns with default values of 0
bike_df['mat_plas'] = 0
bike_df['mat_steel'] = 0
bike_df['mat_carb'] = 0
bike_df['mat_alum'] = 0


#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['mat_plas'] = bike_df['mat_plas'].mask(bike_df['Material'] == "Plastic", 1) 
bike_df['mat_steel'] = bike_df['mat_steel'].mask(bike_df['Material'] == "Steel", 1) 
bike_df['mat_carb'] = bike_df['mat_carb'].mask(bike_df['Material'] == "Carbon Fiber", 1) 
bike_df['mat_alum'] = bike_df['mat_alum'].mask(bike_df['Material'] == "Aluminum", 1) 

bike_df = bike_df.drop(columns="Material")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Color,Warranty,...,cat_clothing,cat_bikes,size_xl,size_s,size_l,size_m,mat_plas,mat_steel,mat_carb,mat_alum
0,11,1,8,45,120,590,360,950,White,1 Year,...,0,0,1,0,0,0,1,0,0,0
1,11,1,8,45,120,590,360,950,White,2 Years,...,0,0,1,0,0,0,0,1,0,0
2,03,1,23,45,120,1366,1035,2401,Green,1 Year,...,0,0,0,1,0,0,0,1,0,0
3,03,1,20,45,120,1188,900,2088,Red,1 Year,...,0,0,0,1,0,0,0,0,1,0
4,05,0,4,45,120,238,180,418,Blue,3 Years,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,Green,Lifetime,...,1,0,1,0,0,0,0,0,0,1
226068,04,1,22,24,64,655,528,1183,White,1 Year,...,1,0,1,0,0,0,0,0,0,1
226069,04,1,22,24,64,655,528,1183,Green,2 Years,...,1,0,0,0,0,1,0,0,0,1
226070,03,0,24,24,64,684,576,1260,Red,3 Years,...,1,0,0,0,0,1,0,0,1,0
226071,03,0,23,24,64,655,552,1207,Black,1 Year,...,1,0,0,0,1,0,0,1,0,0

In [27]:
bike_df['Warranty'].unique()

array(['1 Year', '2 Years', '3 Years', 'Lifetime'], dtype=object)

In [28]:
#Initialize new columns with default values of 0
bike_df['war_1'] = 0
bike_df['war_2'] = 0
bike_df['war_3'] = 0
bike_df['war_ll'] = 0



#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['war_1'] = bike_df['war_1'].mask(bike_df['Warranty'] == "1 Year", 1) 
bike_df['war_2'] = bike_df['war_2'].mask(bike_df['Warranty'] == "2 Years", 1) 
bike_df['war_3'] = bike_df['war_3'].mask(bike_df['Warranty'] == "3 Years", 1) 
bike_df['war_ll'] = bike_df['war_ll'].mask(bike_df['Warranty'] == "Lifetime", 1) 

bike_df = bike_df.drop(columns="Warranty")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Color,Manufacturer,...,size_l,size_m,mat_plas,mat_steel,mat_carb,mat_alum,war_1,war_2,war_3,war_ll
0,11,1,8,45,120,590,360,950,White,Manufacturer A,...,0,0,1,0,0,0,1,0,0,0
1,11,1,8,45,120,590,360,950,White,Manufacturer A,...,0,0,0,1,0,0,0,1,0,0
2,03,1,23,45,120,1366,1035,2401,Green,Manufacturer D,...,0,0,0,1,0,0,1,0,0,0
3,03,1,20,45,120,1188,900,2088,Red,Manufacturer A,...,0,0,0,0,1,0,1,0,0,0
4,05,0,4,45,120,238,180,418,Blue,Manufacturer A,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,Green,Manufacturer B,...,0,0,0,0,0,1,0,0,0,1
226068,04,1,22,24,64,655,528,1183,White,Manufacturer A,...,0,0,0,0,0,1,1,0,0,0
226069,04,1,22,24,64,655,528,1183,Green,Manufacturer B,...,0,1,0,0,0,1,0,1,0,0
226070,03,0,24,24,64,684,576,1260,Red,Manufacturer A,...,0,1,0,0,1,0,0,0,1,0
226071,03,0,23,24,64,655,552,1207,Black,Manufacturer A,...,1,0,0,1,0,0,1,0,0,0

In [29]:
bike_df = bike_df.drop(columns="Color")

In [30]:
bike_df['Manufacturer'].unique()

array(['Manufacturer A', 'Manufacturer D', 'Manufacturer B',
       'Manufacturer C'], dtype=object)

In [31]:
#Initialize new columns with default values of 0
bike_df['man_A'] = 0
bike_df['man_B'] = 0
bike_df['man_C'] = 0
bike_df['man_D'] = 0

#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['man_A'] = bike_df['man_A'].mask(bike_df['Manufacturer'] == "Manufacturer A", 1) 
bike_df['man_B'] = bike_df['man_B'].mask(bike_df['Manufacturer'] == "Manufacturer B", 1) 
bike_df['man_C'] = bike_df['man_C'].mask(bike_df['Manufacturer'] == "Manufacturer C", 1) 
bike_df['man_D'] = bike_df['man_D'].mask(bike_df['Manufacturer'] == "Manufacturer D", 1) 


bike_df = bike_df.drop(columns="Manufacturer")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,...,mat_carb,mat_alum,war_1,war_2,war_3,war_ll,man_A,man_B,man_C,man_D
0,11,1,8,45,120,590,360,950,4,13.25,...,0,0,1,0,0,0,1,0,0,0
1,11,1,8,45,120,590,360,950,5,4.56,...,0,0,0,1,0,0,1,0,0,0
2,03,1,23,45,120,1366,1035,2401,3,8.97,...,0,0,1,0,0,0,0,0,0,1
3,03,1,20,45,120,1188,900,2088,5,2.56,...,1,0,1,0,0,0,1,0,0,0
4,05,0,4,45,120,238,180,418,5,11.21,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,5,14.88,...,0,1,0,0,0,1,0,1,0,0
226068,04,1,22,24,64,655,528,1183,5,3.39,...,0,1,1,0,0,0,1,0,0,0
226069,04,1,22,24,64,655,528,1183,3,5.33,...,0,1,0,1,0,0,0,1,0,0
226070,03,0,24,24,64,684,576,1260,5,14.80,...,1,0,0,0,1,0,1,0,0,0
226071,03,0,23,24,64,655,552,1207,1,10.17,...,0,0,1,0,0,0,1,0,0,0

In [32]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226047 entries, 0 to 226071
Data columns (total 44 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Month             226047 non-null  object
 1   Customer_Gender   226047 non-null  object
 2   Order_Quantity    226047 non-null  int64
 3   Unit_Cost         226047 non-null  int64
 4   Unit_Price        226047 non-null  int64
 5   Profit            226047 non-null  int64
 6   Cost              226047 non-null  int64
 7   Revenue           226047 non-null  int64
 8   Rating            226047 non-null  int64
 9   Shipping_Weight   226047 non-null  float64
 10  Delivery_Time     226047 non-null  int64
 11  Discount          226047 non-null  int64
 12  Eco_Friendly      226047 non-null  bool
 13  Shipping_Cost     226047 non-null  float64
 14  Shipping_Company  226047 non-null  object
 15  Shipping_Type     226047 non-null  object
 16  Insurance         150774 non-null  object
 17  Return_Policy     226047 non-null  object
 18  age_youth         226047 non-null  int64
 19  age_y_adults      226047 non-null  int64
 20  age_adults        226047 non-null  int64
 21  age_senior        226047 non-null  int64
 22  region_aus        226047 non-null  int64
 23  region_us         226047 non-null  int64
 24  region_eu         226047 non-null  int64
 25  cat_accessories   226047 non-null  int64
 26  cat_clothing      226047 non-null  int64
 27  cat_bikes         226047 non-null  int64
 28  size_xl           226047 non-null  int64
 29  size_s            226047 non-null  int64
 30  size_l            226047 non-null  int64
 31  size_m            226047 non-null  int64
 32  mat_plas          226047 non-null  int64
 33  mat_steel         226047 non-null  int64
 34  mat_carb          226047 non-null  int64
 35  mat_alum          226047 non-null  int64
 36  war_1             226047 non-null  int64
 37  war_2             226047 non-null  int64
 38  war_3             226047 non-null  int64
 39  war_ll            226047 non-null  int64
 40  man_A             226047 non-null  int64
 41  man_B             226047 non-null  int64
 42  man_C             226047 non-null  int64
 43  man_D             226047 non-null  int64
dtypes: bool(1), float64(2), int64(35), object(6)
memory usage: 76.1+ MB

In [33]:
bike_df['Insurance'] = bike_df['Insurance'].fillna("No insurance")

In [34]:
bike_df['Insurance'].unique()

array(['Basic', 'No insurance', 'Premium'], dtype=object)

In [35]:
bike_df['insur_basic'] = 0
bike_df['insur_premium'] = 0
bike_df['insur_0'] = 0

bike_df['insur_basic'] = bike_df['insur_basic'].mask(bike_df['Insurance'] == "Basic",1)
bike_df['insur_premium'] = bike_df['insur_premium'].mask(bike_df['Insurance'] == "Premium",1)
bike_df['insur_0'] = bike_df['insur_0'].mask(bike_df['Insurance'] == "No insurance",1)

bike_df = bike_df.drop(columns="Insurance")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,...,war_2,war_3,war_ll,man_A,man_B,man_C,man_D,insur_basic,insur_premium,insur_0
0,11,1,8,45,120,590,360,950,4,13.25,...,0,0,0,1,0,0,0,1,0,0
1,11,1,8,45,120,590,360,950,5,4.56,...,1,0,0,1,0,0,0,0,0,1
2,03,1,23,45,120,1366,1035,2401,3,8.97,...,0,0,0,0,0,0,1,0,1,0
3,03,1,20,45,120,1188,900,2088,5,2.56,...,0,0,0,1,0,0,0,0,0,1
4,05,0,4,45,120,238,180,418,5,11.21,...,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,5,14.88,...,0,0,1,0,1,0,0,1,0,0
226068,04,1,22,24,64,655,528,1183,5,3.39,...,0,0,0,1,0,0,0,1,0,0
226069,04,1,22,24,64,655,528,1183,3,5.33,...,1,0,0,0,1,0,0,1,0,0
226070,03,0,24,24,64,684,576,1260,5,14.80,...,0,1,0,1,0,0,0,0,0,1
226071,03,0,23,24,64,655,552,1207,1,10.17,...,0,0,0,1,0,0,0,0,1,0

In [36]:
bike_df['Shipping_Type'].unique()

array(['Standard', 'Same Day', 'Express', 'Next Day'], dtype=object)

In [37]:
#Initialize new columns with default values of 0
bike_df['ship_standard'] = 0
bike_df['ship_samed'] = 0
bike_df['ship_express'] = 0
bike_df['ship_nextd'] = 0

#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['ship_standard'] = bike_df['ship_standard'].mask(bike_df['Shipping_Type'] == "Standard", 1) 
bike_df['ship_samed'] = bike_df['ship_samed'].mask(bike_df['Shipping_Type'] == "Same Day", 1) 
bike_df['ship_express'] = bike_df['ship_express'].mask(bike_df['Shipping_Type'] == "Express", 1) 
bike_df['ship_nextd'] = bike_df['ship_nextd'].mask(bike_df['Shipping_Type'] == "Next Day", 1) 


bike_df = bike_df.drop(columns="Shipping_Type")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,...,man_B,man_C,man_D,insur_basic,insur_premium,insur_0,ship_standard,ship_samed,ship_express,ship_nextd
0,11,1,8,45,120,590,360,950,4,13.25,...,0,0,0,1,0,0,1,0,0,0
1,11,1,8,45,120,590,360,950,5,4.56,...,0,0,0,0,0,1,0,1,0,0
2,03,1,23,45,120,1366,1035,2401,3,8.97,...,0,0,1,0,1,0,0,0,1,0
3,03,1,20,45,120,1188,900,2088,5,2.56,...,0,0,0,0,0,1,0,1,0,0
4,05,0,4,45,120,238,180,418,5,11.21,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,5,14.88,...,1,0,0,1,0,0,1,0,0,0
226068,04,1,22,24,64,655,528,1183,5,3.39,...,0,0,0,1,0,0,0,0,1,0
226069,04,1,22,24,64,655,528,1183,3,5.33,...,1,0,0,1,0,0,1,0,0,0
226070,03,0,24,24,64,684,576,1260,5,14.80,...,0,0,0,0,0,1,0,0,0,1
226071,03,0,23,24,64,655,552,1207,1,10.17,...,0,0,0,0,1,0,0,1,0,0

In [38]:
bike_df['Return_Policy'].unique()

array(['30 Days', '7 Days', '60 Days', 'No Return'], dtype=object)

In [39]:
#Initialize new columns with default values of 0
bike_df['return_30'] = 0
bike_df['return_7'] = 0
bike_df['return_60'] = 0
bike_df['return_0'] = 0

#Update values to 1 if value in gender column equals to the corresponsing value of mask
bike_df['return_30'] = bike_df['return_30'].mask(bike_df['Return_Policy'] == "30 days", 1) 
bike_df['return_7'] = bike_df['return_7'].mask(bike_df['Return_Policy'] == "7 days", 1) 
bike_df['return_60'] = bike_df['return_60'].mask(bike_df['Return_Policy'] == "60 days", 1) 
bike_df['return_0'] = bike_df['return_0'].mask(bike_df['Return_Policy'] == "No Return", 1) 


bike_df = bike_df.drop(columns="Return_Policy")
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,...,insur_premium,insur_0,ship_standard,ship_samed,ship_express,ship_nextd,return_30,return_7,return_60,return_0
0,11,1,8,45,120,590,360,950,4,13.25,...,0,0,1,0,0,0,0,0,0,0
1,11,1,8,45,120,590,360,950,5,4.56,...,0,1,0,1,0,0,0,0,0,0
2,03,1,23,45,120,1366,1035,2401,3,8.97,...,1,0,0,0,1,0,0,0,0,0
3,03,1,20,45,120,1188,900,2088,5,2.56,...,0,1,0,1,0,0,0,0,0,0
4,05,0,4,45,120,238,180,418,5,11.21,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226067,04,1,3,24,64,112,72,184,5,14.88,...,0,0,1,0,0,0,0,0,0,0
226068,04,1,22,24,64,655,528,1183,5,3.39,...,0,0,0,0,1,0,0,0,0,0
226069,04,1,22,24,64,655,528,1183,3,5.33,...,0,0,1,0,0,0,0,0,0,0
226070,03,0,24,24,64,684,576,1260,5,14.80,...,0,1,0,0,0,1,0,0,0,0
226071,03,0,23,24,64,655,552,1207,1,10.17,...,1,0,0,1,0,0,0,0,0,0

In [40]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226047 entries, 0 to 226071
Data columns (total 52 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Month             226047 non-null  object
 1   Customer_Gender   226047 non-null  object
 2   Order_Quantity    226047 non-null  int64
 3   Unit_Cost         226047 non-null  int64
 4   Unit_Price        226047 non-null  int64
 5   Profit            226047 non-null  int64
 6   Cost              226047 non-null  int64
 7   Revenue           226047 non-null  int64
 8   Rating            226047 non-null  int64
 9   Shipping_Weight   226047 non-null  float64
 10  Delivery_Time     226047 non-null  int64
 11  Discount          226047 non-null  int64
 12  Eco_Friendly      226047 non-null  bool
 13  Shipping_Cost     226047 non-null  float64
 14  Shipping_Company  226047 non-null  object
 15  age_youth         226047 non-null  int64
 16  age_y_adults      226047 non-null  int64
 17  age_adults        226047 non-null  int64
 18  age_senior        226047 non-null  int64
 19  region_aus        226047 non-null  int64
 20  region_us         226047 non-null  int64
 21  region_eu         226047 non-null  int64
 22  cat_accessories   226047 non-null  int64
 23  cat_clothing      226047 non-null  int64
 24  cat_bikes         226047 non-null  int64
 25  size_xl           226047 non-null  int64
 26  size_s            226047 non-null  int64
 27  size_l            226047 non-null  int64
 28  size_m            226047 non-null  int64
 29  mat_plas          226047 non-null  int64
 30  mat_steel         226047 non-null  int64
 31  mat_carb          226047 non-null  int64
 32  mat_alum          226047 non-null  int64
 33  war_1             226047 non-null  int64
 34  war_2             226047 non-null  int64
 35  war_3             226047 non-null  int64
 36  war_ll            226047 non-null  int64
 37  man_A             226047 non-null  int64
 38  man_B             226047 non-null  int64
 39  man_C             226047 non-null  int64
 40  man_D             226047 non-null  int64
 41  insur_basic       226047 non-null  int64
 42  insur_premium     226047 non-null  int64
 43  insur_0           226047 non-null  int64
 44  ship_standard     226047 non-null  int64
 45  ship_samed        226047 non-null  int64
 46  ship_express      226047 non-null  int64
 47  ship_nextd        226047 non-null  int64
 48  return_30         226047 non-null  int64
 49  return_7          226047 non-null  int64
 50  return_60         226047 non-null  int64
 51  return_0          226047 non-null  int64
dtypes: bool(1), float64(2), int64(46), object(3)
memory usage: 89.9+ MB

In [41]:
bike_df['Eco_Friendly'] = bike_df['Eco_Friendly'].astype(int)
bike_df[['Month', 'Customer_Gender']] = bike_df[['Month', 'Customer_Gender']].astype("int64")

In [42]:
bike_df = bike_df.drop(columns='Shipping_Company')

In [43]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 226047 entries, 0 to 226071
Data columns (total 51 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Month            226047 non-null  int64
 1   Customer_Gender  226047 non-null  int64
 2   Order_Quantity   226047 non-null  int64
 3   Unit_Cost        226047 non-null  int64
 4   Unit_Price       226047 non-null  int64
 5   Profit           226047 non-null  int64
 6   Cost             226047 non-null  int64
 7   Revenue          226047 non-null  int64
 8   Rating           226047 non-null  int64
 9   Shipping_Weight  226047 non-null  float64
 10  Delivery_Time    226047 non-null  int64
 11  Discount         226047 non-null  int64
 12  Eco_Friendly     226047 non-null  int64
 13  Shipping_Cost    226047 non-null  float64
 14  age_youth        226047 non-null  int64
 15  age_y_adults     226047 non-null  int64
 16  age_adults       226047 non-null  int64
 17  age_senior       226047 non-null  int64
 18  region_aus       226047 non-null  int64
 19  region_us        226047 non-null  int64
 20  region_eu        226047 non-null  int64
 21  cat_accessories  226047 non-null  int64
 22  cat_clothing     226047 non-null  int64
 23  cat_bikes        226047 non-null  int64
 24  size_xl          226047 non-null  int64
 25  size_s           226047 non-null  int64
 26  size_l           226047 non-null  int64
 27  size_m           226047 non-null  int64
 28  mat_plas         226047 non-null  int64
 29  mat_steel        226047 non-null  int64
 30  mat_carb         226047 non-null  int64
 31  mat_alum         226047 non-null  int64
 32  war_1            226047 non-null  int64
 33  war_2            226047 non-null  int64
 34  war_3            226047 non-null  int64
 35  war_ll           226047 non-null  int64
 36  man_A            226047 non-null  int64
 37  man_B            226047 non-null  int64
 38  man_C            226047 non-null  int64
 39  man_D            226047 non-null  int64
 40  insur_basic      226047 non-null  int64
 41  insur_premium    226047 non-null  int64
 42  insur_0          226047 non-null  int64
 43  ship_standard    226047 non-null  int64
 44  ship_samed       226047 non-null  int64
 45  ship_express     226047 non-null  int64
 46  ship_nextd       226047 non-null  int64
 47  return_30        226047 non-null  int64
 48  return_7         226047 non-null  int64
 49  return_60        226047 non-null  int64
 50  return_0         226047 non-null  int64
dtypes: float64(2), int64(49)
memory usage: 89.7 MB

In [44]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
bike_df = pd.DataFrame(scaler.fit_transform(bike_df), columns=bike_df.columns)
bike_df

,Month,Customer_Gender,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,Rating,Shipping_Weight,...,insur_premium,insur_0,ship_standard,ship_samed,ship_express,ship_nextd,return_30,return_7,return_60,return_0
0,1.307296,0.968756,-0.408056,-0.404281,-0.361061,0.671885,-0.123512,0.149470,0.701793,1.314550,...,-0.708599,-0.706572,1.730229,-0.577931,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059
1,1.307296,0.968756,-0.408056,-0.404281,-0.361061,0.671885,-0.123512,0.149470,1.407620,-0.761823,...,-0.708599,1.415284,-0.577958,1.730311,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059
2,-0.992758,0.968756,1.160681,-0.404281,-0.361061,2.381583,0.639332,1.257889,-0.004034,0.291894,...,1.411235,-0.706572,-0.577958,-0.577931,1.736820,-0.577747,0.0,0.0,0.0,-0.577059
3,-0.992758,0.968756,0.846933,-0.404281,-0.361061,1.989410,0.486763,1.018788,1.407620,-1.239699,...,-0.708599,1.415284,-0.577958,1.730311,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059
4,-0.417744,-1.032252,-0.826386,-0.404281,-0.361061,-0.103648,-0.326937,-0.256925,1.407620,0.827116,...,-0.708599,-0.706572,-0.577958,1.730311,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226042,-0.705251,0.968756,-0.930968,-0.442475,-0.421794,-0.381254,-0.448992,-0.435678,1.407620,1.704019,...,-0.708599,-0.706572,1.730229,-0.577931,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059
226043,-0.705251,0.968756,1.056098,-0.442475,-0.421794,0.815094,0.066351,0.327458,1.407620,-1.041381,...,-0.708599,-0.706572,-0.577958,-0.577931,1.736820,-0.577747,0.0,0.0,0.0,-0.577059
226044,-0.705251,0.968756,1.056098,-0.442475,-0.421794,0.815094,0.066351,0.327458,-0.004034,-0.577841,...,-0.708599,-0.706572,1.730229,-0.577931,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059
226045,-0.992758,-1.032252,1.265263,-0.442475,-0.421794,0.878987,0.120598,0.386279,1.407620,1.684904,...,-0.708599,1.415284,-0.577958,-0.577931,-0.575765,1.730861,0.0,0.0,0.0,-0.577059
226046,-0.992758,-1.032252,1.160681,-0.442475,-0.421794,0.815094,0.093474,0.345792,-1.415689,0.578620,...,1.411235,-0.706572,-0.577958,1.730311,-0.575765,-0.577747,0.0,0.0,0.0,-0.577059

## CORRELATION EVALUATION

In [ ]:
corr_matrix = bike_df.corr()

#heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=False, cmap="coolwarm", fmt='.2f')
plt.show()

In [ ]:
filtered_matrix = corr_matrix.mask((corr_matrix > -0.4) & (corr_matrix < 0.4))
filtered_matrix

## LINEAR REGRESSION

In [ ]:
from sklearn.model_selection import train_test_split

X = bike_df.drop(columns=["Order_Quantity"])
y = bike_df['Order_Quantity']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)
model.predict(X_test)

print("R-squared:", model.score(X_test, y_test))
print("Coef_", model.coef_)